<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="새로운 개념의 멀티유저 온라인게임 maplestory">
	<meta name="google-site-verification" content="OcUfX8Czn819CkCyhhvEaC0zGZCSyoGPgmk70ORTptI" />
	<meta property="og:description" content="새로운 개념의 멀티유저 온라인게임 maplestory">
	<meta name="keywords" content="maple, maplestory, 메이플, 메이플스토리, wizet, 위젯, 2d, 횡스크롤, 사이드스크롤, rpg, mmorpg, 온라인게임,이벤트,신규직업">
	<meta name="author" content="NEXON Korea" />
	<title>E1I4S</title>
	<link rel="stylesheet" href="/css/ProjectJs_1.css" type="text/css" />
	<link rel="stylesheet" href="/css/ProjectJs_2.css" type="text/css" />
	<script src="https://ssl.nexon.com/s1/p2/ps.min.js" charset="utf-8" data-name="PS" data-ngm="true" data-nxlogin="true"></script>
	<script src="https://lwres.nexon.com/js/maplestory/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script src="https://lwres.nexon.com/js/maplestory/jquery-ui.js"></script>
	<script src="https://lwres.nexon.com/js/maplestory/index.js" type="text/javascript"></script>
	<script src="https://lwres.nexon.com/js/maplestory/jquery.mCustomScrollbar.concat.min.js"
		type="text/javascript"></script>
</head>
<body>
	<script>
		$(document).ready(function () {
			$('.sel_login_btn a:eq(0)').bind('click', function (e) {
				e.preventDefault();
				LOGIN.changeID();
			});
			$('.sel_login_btn a:eq(1)').bind('click', function (e) {
				e.preventDefault();
				close_login_pop();
			});
		});
	</script>
	<div id="wrap">
		<div id="section01">
			<div class="top_menu_wrap">
				<div class="div_inner">
					<!--좌상단 이미지-->
					<h1 class="logo"><a href="/"><img src="/img/logo3n.png" alt="" /></a></h1>
					<ul class="top_menu"> <!-- 페이지 상단 경로-->
						<li>
							<a href="/pointshop/pointshop">포인트상점</a>
							<ul>
								<li><a href="/pointshop/pointshop">상품 목록 리스트</a></li> <!-- 내부 리스트 -->
							</ul>
						</li>
						<li>
							<a href="/news/notice">뉴스</a>
							<ul>
								<li><a href="/news/notice">공지사항</a></li>
								<li><a href="/news/event">이벤트</a></li>
							</ul>
						</li>
						<li>
							<a href="/guide/guide">가이드</a>
							<ul>
								<li><a href="/guide/guide">기초 가이드</a></li>
								<li><a href="/guide/character">캐릭터 소개</a></li>
							</ul>
						</li>
						<li>
							<a href="/rank/rank">랭킹</a>
							<ul>
								<li><a href="/rank/rank">랭킹 게시판</a></li>
							</ul>
						</li>
						<li>
							<a href="/board/free_board">커뮤니티</a>
							<ul>
								<li><a href="/board/free_board">자유게시판</a></li>
								<li><a href="/board/trading_board">거래 게시판</a></li>
								<li><a href="/board/tip_know-how">팁 OR 노하우</a></li>
							</ul>
						</li>
						<li>
							<a href="/support/report_1_1">고객지원</a>
							<ul>
								<li><a href="/support/report_1_1">1:1문의</a></li>
								<li><a href="/support/report_bug">신고</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="main_banner_wrap">
				<ul class="main_banner">
					<li>
						<div class="banner_img_con">
							<div class="banner_img_wrap">
								<a href="#" target="_blank">
									<img src="/img/bg1.png"	alt="" />
								</a>
							</div>
						</div>
						<div class="div_inner main_banner_size">
							<a href="#" target="_blank">
								<h2>이벤트 1</h2>
								<p>이벤트 기간 : 2023년 11월 23일(목) 점검 후 ~ 12월 20일(수) 오후 11시 59분</p>
							</a>
						</div>
					</li>
					<li>
						<div class="banner_img_con">
							<div class="banner_img_wrap">
								<a href="#" target="_blank"><img
										src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5.jpg"
										alt="" /></a>
							</div>
						</div>
						<div class="div_inner main_banner_size">
							<a href="#" target="_blank">
								<h2>이벤트 2</h2>
								<p>이벤트 기간 : 2023년 11월 23일(목) 점검 후 ~ 12월 20일(수) 오후 11시 59분</p>
							</a>
						</div>
					</li>
					<li>
						<div class="banner_img_con">
							<div class="banner_img_wrap">
								<a href="#" target="_blank"><img
										src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5.jpg"
										alt="" /></a>
							</div>
						</div>
						<div class="div_inner main_banner_size">
							<a href="#" target="_blank">
								<h2>이벤트 3</h2>
								<p>이벤트 기간 : 2023년 11월 23일(목) 점검 후 ~ 12월 20일(수) 오후 11시 59분</p>
							</a>
						</div>
					</li>
					<li>
						<div class="banner_img_con">
							<div class="banner_img_wrap">
								<a href="#" target="_blank"><img
										src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5.jpg"
										alt="" /></a>
							</div>
						</div>
						<div class="div_inner main_banner_size">
							<a href="#" target="_blank">
								<h2>이벤트 4</h2>
								<p>이벤트 기간 : 2023년 11월 23일(목) 점검 후 ~ 12월 20일(수) 오후 11시 59분</p>
							</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- pos_banner_wrap str -->
			<div class="pos_banner_wrap">
				<!-- div_inner str -->
				<div class="div_inner">
					<span class="prev_btn"><!-- 이벤트 이동 버튼(<,>) -->
						<a href="#a" onclick="prev_btn()">
							<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/prev.png" alt="" />
						</a>
					</span>
					<div class="pos_banner">
						<div class="pos_move">
							<dl><!-- 현지 이벤트 경로와 맞추기 -->
								<dt>
									<a href="#a" onclick="pos_click(0)"> <!--이미지 클릭 시 이동-->
										<img src="https://lwi.nexon.com/maplestory/banner/2023/1123/sub_bn_231123_28172ECEDD83CE1C.jpg"
											 style="width:100px;height:40px;" alt="" />
										<span class=pos_line></span> <!-- 해당 이벤트 클릭 시 노란 테두리 -->
									</a>
								</dt>
								<dd><a href="#a" onclick="pos_click(0)">이벤트 1</a></dd> <!--이미지 내부 글 클릭 시 이동-->
								<dd class="pos_on"></dd>
							</dl>
							<dl>
								<dt>
									<a href="#a" onclick="pos_click(1)"> 
										<img src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5_thum.jpg"
											 style="width:100px;height:40px;" alt="" />
										<span></span>
									</a>
								</dt>
								<dd><a href="#a" onclick="pos_click(1)">이벤트 2</a></dd>
								<dd class="pos_off"></dd>
							</dl>
							<dl>
								<dt>
									<a href="#a" onclick="pos_click(2)">
										<img src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5_thum.jpg"
											 style="width:100px;height:40px;" alt="" />
										<span></span>
									</a>
								</dt>
								<dd><a href="#a" onclick="pos_click(2)">이벤트 3</a></dd>
								<dd class="pos_off"></dd>
							</dl>
							<dl>
								<dt>
									<a href="#a" onclick="pos_click(3)">
										<img src="https://lwi.nexon.com/maplestory/banner/2023/1123/main_bn_231123_A6C5BC61259325E5_thum.jpg"
											 style="width:100px;height:40px;" alt="" />
										<span></span>
									</a>
								</dt>
								<dd><a href="#a" onclick="pos_click(3)">이벤트 4</a></dd>
								<dd class="pos_off"></dd>
							</dl>
						</div>
					</div>
					<span class="next_btn"><!-- 이벤트 이동 버튼(<,>) -->
						<a href="#a" onclick="next_btn()">
							<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/next.png" alt="" />
						</a>
					</span>
					<div class="pos_count"><!--게임 시작 위 이벤트 숫자-->
						<dl>
							<dt>01</dt>
							<dd class="pos_len">
								<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/slice.png" alt="" />
							</dd>
							<dd class="event_view_all">
								<a href="#a" onclick="event_onoff()">
									<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/window.png" alt="" />
								</a>
							</dd>
						</dl>
					</div>
				</div>
				<!-- div_inner end -->
			</div>
			<!-- pos_banner_wrap end -->
			<div class="event_all"> <!-- 중앙 윈도우 모양 클릭시 나오는 이벤트 리스트 -->
				<!-- event_all_inner str -->
				<div class="event_all_inner">
					<h1 class="event_title"><img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/event_title.png" alt=""></h1>
					<div class="event_all_bannerwrap">
						<ul class="event_all_banner">
							<li>
								<a href="#"> <!-- 현지 이벤트 경로 잡아주기 -->
									<img src="https://file.nexon.com/NxFile/download/FileDownloader.aspx?oidFile=4620732907474916057" alt="">
								</a>
								<dl>
									<dt><a href="#">이벤트 1</a></dt> <!-- 현지 이벤트 경로 잡아주기 -->
									<dd><a href="#">이벤트 기간 : 2023.11.30 (목) ~ 2023.12.06 (수) 오후 11시59분</a></dd>
								</dl>
							</li>
							<li>
								<a href="#">
									<img src="https://file.nexon.com/NxFile/download/FileDownloader.aspx?oidFile=5485423997275345099" alt="">
								</a>
								<dl>
									<dt><a href="#">이벤트 2</a></dt>
									<dd><a href="#">이벤트 기간 : 2023.11.30 (목) ~ 2023.12.06 (수) 오후 11시59분</a></dd>
								</dl>
							</li>
							<li>
								<a href="#">
									<img src="https://file.nexon.com/NxFile/download/FileDownloader.aspx?oidFile=5485423997275345099" alt="">
								</a>
								<dl>
									<dt><a href="#">이벤트 3</a></dt>
									<dd><a href="#">이벤트 기간 : 2023.11.30 (목) ~ 2023.12.06 (수) 오후 11시59분</a></dd>
								</dl>
							</li>
							<li>
								<a href="#"><img
										src="https://file.nexon.com/NxFile/download/FileDownloader.aspx?oidFile=5485423997275345099"
										alt=""></a>
								<dl>
									<dt><a href="#">이벤트 4</a></dt>
									<dd><a href="#">이벤트 기간 : 2023.11.30 (목) ~ 2023.12.06 (수) 오후 11시59분</a></dd>
								</dl>
							</li>
						</ul>
					</div>
					<ul class="event_all_pos"> <!-- 이벤트 8개 이상일 때 페이징 -->
						<li>
							<a href="#a" onmouseover="img_on(this)" onmouseout="img_out(this)" class=active>
								<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/pos_event_on.png" alt="">
							</a>
						</li>
					</ul>
					<span class="event_close"> <!-- 우상단 X 이미지 -->
						<a href="#a" onclick="event_onoff()">
							<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/event_close.png" alt="">
						</a>
					</span>
				</div>
				<!-- event_all_inner end -->
			</div>
		</div>
		<div id="section02">
			<div class="div_inner">
				<div class="rolling_event_wrap"> <!-- 게임시작 왼쪽 div -->
					<dl>
						<dt>
							<a href="#" target="_blank">
								<img src="https://lwi.nexon.com/maplestory/banner/2023/1122/bn_update_231122_TH65406A5I6I7C5B.png" alt="" />
							</a>
						</dt>
						<dd class="rolling_title">
							<a href="/News/Update/InformationCenter/113" target="_blank">업데이트 정보센터</a> <!-- 주황 글씨 -->
						</dd>
						<dd class="rolling_text">
							<a href="/News/Update/InformationCenter/113" target="_blank">2023.11.23 / ver.1.2.384 업데이트 미리보기</a>  <!--주황 아래 작은 글씨 -->
						</dd>
					</dl>
				</div>
				<span class="game_start">
					<div class="gm_str_main_wrap">
						<a href="#" onclick="alert('로그인 후 메이플ID 생성이 필요합니다.')"> <!-- 추후 게임 추가? -->
							<img class="main_str_btn" src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/mp_start_btn_main.png" alt="" />
						</a>
					</div>
					<span class="download">
						<a href="#" target="_blank"> <!-- 나중에 회의-->
							<img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/main_game_down.png" alt="" />
						</a>
					</span>
				</span>
				<th:block sec:authorize="isAuthenticated()">
				<div class="none_char_id" >
					<span class="none_char_bg"><img alt="대표캐릭터없음"
							src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/none_char.png"></span>
					<span th:text="${member.nickName}" class="none_char_id_text"></span>
					<ul class="id_set_two">
						<li><a th:href="@{/mypage/mypage}">마이페이지</a></li>
					</ul>
					<dl class="full_button">
						<dt><img src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/cash.png" alt="캐시이미지" />
						</dt>
						<dd>내 보유 포인트<span th:text="${member.point}" class="data_numb"></span></dd>
						<dd class="charge"><a href="" onclick="">상점 바로가기</a></dd>
					</dl>
					<span class="logout"><a th:href="@{/logout}"><img
								src="https://ssl.nexon.com/s2/game/maplestory/renewal/common/logout.png"
								alt="로그아웃"></a></span>
				</div>
				</th:block>
				<th:block sec:authorize="isAnonymous()">
				<div class="login">
					<span><a href="/login"><img src="/img/로그인페이지 이동.png" alt="" /></a></span>
					<br>
					<br>
					<br>
					<br>
					<br><!-- css, hover 추가하기 -->
					<span class="join_member"><a href="join/joinAgree">회원가입</a></span>
				</div>
				</th:block>
			</div>
		</div>
		<!-- section03 str -->
		<div id="main_board_sec">
			<div class="div_inner">
				<!--메인 캐시 배너-->
				<div class="main_cash_bn">
					<ul class="main_cash_con">
						<li><a href="https://www.instagram.com/" target="_self"><img src="/img/zzzz.png"
									alt="" /></a></li>
						<li><a href="https://www.instagram.com/" target="_self"><img src="/img/zzzz.png"
									alt="" /></a></li>
						<li><a href="https://www.instagram.com/" target="_self"><img src="/img/zzzz.png"
									alt="" /></a></li>
						<li><a href="https://www.instagram.com/" target="_self"><img src="/img/zzzz.png"
									alt="" /></a></li>
						<li><a href="https://www.instagram.com/" target="_self"><img src="/img/zzzz.png"
									alt="" /></a></li>
					</ul>
					<div class="main_dot_wrap">
						<ul>
							<li class="active"><a href="#a" onclick="m_pos_cash_bn(0)">1</a></li>
							<li class=""><a href="#a" onclick="m_pos_cash_bn(1)">2</a></li>
							<li class=""><a href="#a" onclick="m_pos_cash_bn(2)">3</a></li>
							<li class=""><a href="#a" onclick="m_pos_cash_bn(3)">4</a></li>
							<li class=""><a href="#a" onclick="m_pos_cash_bn(3)">5</a></li>
						</ul>
					</div>
				</div>
				<!--공지 리스트-->
				<div class="client_update_wrap2">
					<div class="client_update2">
						<ul>
							<li class="s"> <!--공지사항 최근 4개 -->
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="" target="_self">공지사항 1</a>
									</dd>
									<dd class="info">엔젤릭버스터 홍보물과 관련한 논란에 대해 사과드립니다.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="" target="_self">공지사항 2</a>
									</dd>
									<dd class="info">11/23(목) 업데이트된 내용을 확인해주세요.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="" target="_self">공지사항 3</a>
									</dd>
									<dd class="info">11/23(목) 엔젤릭버스터 리마스터 내용을 확인해주세요.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="" target="_self">공지사항 4</a>
									</dd>
									<dd class="info">12/3(일)까지 배송정보를 입력해주세요.</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
				<div class="client_update_wrap2">
					<div class="client_update2">
						<ul>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="자게 추천 top4-1" target="_self">th:text>> title_1</a>
									</dd>
									<dd class="info">엔젤릭버스터 홍보물과 관련한 논란에 대해 사과드립니다.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="자게 추천 top4-2" target="_self">th:text>> title_2</a>
									</dd>
									<dd class="info">11/23(목) 업데이트된 내용을 확인해주세요.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="자게 추천 top4-3" target="_self">th:text>> title_3</a>
									</dd>
									<dd class="info">11/23(목) 엔젤릭버스터 리마스터 내용을 확인해주세요.</dd>
								</dl>
							</li>
							<li class="s">
								<dl>
									<dt class="">공지</dt>
									<dd class="title">
										<a href="자게 추천 top4-4" target="_self">th:text>> title_4</a>
									</dd>
									<dd class="info">12/3(일)까지 배송정보를 입력해주세요.</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="stick-ncc"></div>
		<!-- footer str -->
		<div id="footer" style="">
			<div class="div_inner">
				<div class="footer_info">
					<ul>
						<!--페이지 아래 태그 삭제-->
					</ul>
					<p>
						<span>(주)E1I4S 대표이사</span>
						<span style="margin-left:5px;">윤범헌 김예림 변장철 송경호 박현지</span>
						<span style="margin-left:5px;">전화: 0000-0000</span>
						<span>팩스:0502-258-8322</span>
						<br />
						<span>E-mail:xxxxxxx@xxxxxx.com</span>
						<span style="margin-left:5px;">사업자등록번호 : xxx-xx-xxxxx호</span>
						<span style="margin-left:5px;">통신판매업 신고번호 : 제2013-경기성남-1659호</span>
					</p>
					<span class="copyright">ⓒ NEXON Korea Corporation All Rights Reserved.</span>
					<span class="footer_logo">
						<a href="/" target="_blank"><img src="/img/zzzz.png" alt="" /></a>
					</span>
				</div>
			</div>
		</div>
		<!-- footer end -->
	</div>
</body>
</html>